@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);

@rhino: #323b40;
@rhinoMid: #4f585e;
@teal: #0096a1;
@tealMid: #0ebac7;
@red: #fc625c;
@amber: #fdbc40;
@green: #34c748;
@offWhite: #e9eaea;

* {
    margin: 0;
}

html,
body {
    height: 100%;
    padding: 0;
}

body {
    font-family: 'Comfortaa', cursive;
    background-color: rgb(235, 229, 245);
}

p {
    margin: 0.5em 0 0.5em 0;
}

header {
    display: block;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(32, 28, 94);
    padding: 15px;
    font-size: 17px;
}

nav a:visited, 
nav a:link {
    color: #c90f6c;
    text-decoration: none;
}

nav > ul {
    display: inline;
    padding: 0;
    float: right;
    margin: 7px;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0px 13px 0 13px;
    line-height: 25px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Bree Serif', serif;
}

#icons, li {
    text-decoration: none;
    margin-left: 0;
    list-style: none;
    display: inline-block;
    margin: 0px 10px 4px 10px;
    padding-right: 0px;
}

main {
    display: block;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

footer {
    padding: 15px;
}

aside, article {
    padding: 2em;
    margin-top: 3em;
} 

aside {
    text-align: center;
    background-image: url(Images/background.jpg);
    border-radius: 15px;
    background-size: cover;
    height: 100vh;
}

article {
    width: 75%;
}

@media only screen and (min-width: 768px) {

    main {
        display: flex;
    }

    aside {
        margin-left: 1%;
        outline: none;
        box-sizing: border-box;
    }

}

@media only screen and (max-width: 768px) {
    .wrapper {
        margin-left: inherit;
        overflow: auto;
    }

    aside {
        margin-top: 4em; 
        height: 40vh;
    }

}

    .wrapper {
        top: 2em;
        left: 2em;
        background: rgba(0,0,0,0.6);
        max-width: 250px;
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
    }

    .wrapper .input {
        width: 60%;
        padding: 10px 17px;
        border: none;
        border-radius: 5px;
        font-weight: 500;
    }

    .searchbutton {
        background: #47d1cac2;
        width: 20%;
        border-radius: 5px;
        position: relative ;
        cursor: pointer ;
    }

    .searchbutton .fas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        
    }

    button {
        display: block;
        margin: 20px auto;
        border-style: solid;
        border-radius: 30px;
        padding: 40px;
        font-size: large;
        text-align: center;
        background-color: rgb(32, 28, 94);
        cursor: pointer;
        box-sizing: border-box;
        
    }

    /* .fa {
        padding: 20px;
        font-size: 20em;
        width: 15px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
      
      .fa:hover {
        opacity: 0.7;
      }
            
      .fa-facebook {
        background: #3B5998;
      }
      
      .fa-twitter {
        background: #55ACEE;
      } */

footer{
    position: relative;
    bottom: 0;
}

.footer-distributed{
	background-color: #352c42;
	box-shadow: 0 1px 1px 0 rgba(29, 27, 27, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #a09b9b;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #6053d3;
}

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.0;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
        font: bold 14px sans-serif;
        line-height: 20px;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: inherit;
		font-size: auto;
	}
 
}
